<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="login-component">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    class LoginComponent extends Polymer.Element {
      static get is() { return 'login-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Login'
          }
        };
      }
    }

    window.customElements.define(LoginComponent.is, LoginComponent);
  </script>
</dom-module>
