<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="login-component">
  <template>
    <style>
      :host {
        display: block;
      }

      body{
        margin: 0;
      }

      #contenido{
        background: #fff;
        width: 100%;

        @apply --login-component-contenido-styles;
      }

      .input_text{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;

        @apply --login-component-input-text-styles;
      }

      .input_button {
        width: 100%;
        background-color: #D4D4D4;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer; 

        @apply --login-component-input-button-styles;
      }

      .tbl_tabla{
        position: relative;
        margin-left: 500px;
        padding: 20px;
        background: gray;

        @apply --login-component-tbl-tabla-styles;
      }

    </style>
    
    <body>
      <div id="contenido">
        <form name="f1" on-submit="validar" method="post">
          <table class="tbl_tabla">
            <tr>
              <td><h1 style="color: #fff; text-align: center;">Login</h1></td>
            </tr>
            <tr>
              <td><strong><label style="color: #fff">Usuario:</label></strong></td>
            </tr>

            <tr>
              <td><input type="text" name="usuario" placeholder="User" class="input_text" id="usuario"></td>
            </tr>

            <tr>
              <td><strong><label style="color: #fff">Password:</label></strong></td>
            </tr>

            <tr>
              <td><input type="password" name="contrasena" placeholder="Password" class="input_text" id="contrasena"></td>
            </tr>

            <tr>
              <td><input type="submit" name="btn_submit" class="input_button"></td>
            </tr>
          </table>
        </form>
      </div>
    </body>

  </template>

  <script>
    class LoginComponent extends Polymer.Element {
      static get is() { return 'login-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'login-component'
          }
        };
      }
      validar(event){
      event.preventDefault();
      var v1 = event.target.usuario.value;
      var v2 = event.target.contrasena.value;

        if(( v1 == "luis") && ( v2 == "l123")){
          alert("Acceso consedido");
        }

        else{
          alert("Acceso denegado!");
        }

      }
    }

    window.customElements.define(LoginComponent.is, LoginComponent);
  </script>
</dom-module>
 